@theme "themes/shared/colorschemes/gruvbox.rasi"

configuration {
    cycle:           true;
    disable-history: false;
    display-drun:    "apps";
    icon-theme: "Papirus";
    modes: [ drun ];
    monitor:         "-4";
    show-icons: true;
    sidebar-mode: true;
}

window {
    border: 0px;
}

inputbar {
    spacing: -4px;
}

listview {
    columns: 1;
    scrollbar: false;
    border: 0px;
}

element-text,
element-icon {
    background-color: transparent;
}

